{
    "text_indent": 0, 
    "default_ext": ".md", 
    "other_file_template_name": "none", 
    "folders_sort": "default", 
    "md_template_content": "", 
    "summary_lines": 0, 
    "hide_ext": "no", 
    "save_sorts": false, 
    "editor_insert_image_template": "", 
    "editor_archive_type": "", 
    "home_title_type": "folder_name", 
    "new_file_template": "---\ntitle: $name$\ndate: $date%Y-%m-%d %H:%M$\n---\n", 
    "title_type": "meta", 
    "editor_image_store_path": "", 
    "md_injected_css": "", 
    "files_sort": "default"
}